/* Color */
.white {
    background-color: #FFFFFF;
}

.light-gray {
    background-color: #EDEDED;
}

.gray {
    background-color: #D4D4D4;
}

.light-blue {
    background-color: #6677FE;
}

.text-yellow {
    color: #FFE200;
}