/* Forum/Thread */

/* Comments on threads */

.commentsSection {
    margin-left: 2rem;
    padding: 10px;
}

.comment-body {
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    display: inline-block;
    margin: 0;
    padding: 5px;
    text-align:left;
    word-break: break-all;
}

.comment-body p {
    margin: 0;
    margin-top: 3px;
}


.postComment {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-top: 1rem;
    padding-left: 10px;
    width: 30%;
}

.postComment input {
    margin: 1em 0;
    width: 40%; 
    word-wrap: break-word;
    height: 2rem;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-info h3, h5 {
    margin: 0;
    color: #8a8a8a;
}

.forum-container {
    flex: 60%;
    width: 100%;
}

.forum-title {
    text-align: center;
}

.thread-info {
    padding-left: 2em;
}

.thread-table-head {
    display: flex;
    font-size: 1.3em;
    text-align: center;
}

.thread-table-head div {
    background-color: gray;
    font-weight: bold;
    margin: 2px;
    padding: 5px;
}

.thread-table-row {
    display: flex;
    overflow: hidden;
}

.post-icon, .post-subject,
.post-comments, .post-info {
    background-color: #D4D4D4;
    margin: 2px;
    padding: 5px;
}

.thread-create-button {
    border: 1px solid #CFCFCF;
    width: 10em;
}

.thread-header {
    margin-left: 1.4em;
    text-align:left;
}

.thread-body {
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    display: inline-block;
    margin-left: 2em;
    margin-right: 2em;
    padding: 5px;
    text-align:left;
}

.post-icon {
    flex: 10%;
    text-align: center;
}

.post-subject {
    display: flex;
    flex: 60%;
    justify-content: flex-start;
}

.post-subject-pinned {
    background-color: #FCCC89;
    display: flex;
    flex: 60%;
    justify-content: flex-start;
    margin: 2px;
    padding: 5px;
}

.post-link {
    line-height: 10px;
}

.post-info, .post-comments {
    flex: 15%;
    text-align: center;
}