@import url('global.css');
@import url('forum.css');
@import url('colors.css');
@import url('sidebars.css');
@import url('header.css');

.main {
    display: flex;
    height: 100%;
}

/* Navigation */
.nav-button {
    width: 100%;
    margin: .3em 0;
    padding: .7em;
    color: inherit;
    background-color: inherit;
    border: 0 solid;
    border-bottom-color: black;
    border-bottom-width: 2px;
}

.nav-button:hover {
    background-color: #D4D4D4;
}

.hide {
    display:none!important;
}

.show {
    display:block!important;
}

.events-title {
    text-align: center;
}

/* Page content */
.content-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
    margin: 0 1em 0 1em;
    padding: 0 20px;
}

.content-row {
    width: 100%;
}

.event-container {
    display: flex;
    flex-direction: column;
}

/* Sport page */
.sport-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 1em;
    border-bottom: 1px solid #CFCFCF;
}

.sport-nav>button {
    width: 10em;
    margin: 0 2em 0;
}

/* Club */
.club-description {
    width: 600px;
    height: 300px;
}




