<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Events</title>
</head>

<body>
<header class="header" style="text-align: center; ">
  <h1>Íþróttasíðan</h1>
</header>

<div class="left-sidebar">
  left-sidebar
</div>
<div class="main">

  <tr th:each="club : ${clubs}">
    <h3 th:text="${club.clubName}"></h3>
    <a th:href="@{${club.clubUrl}}"><p>    clubUrl   </p></a>
    <p th:text="${club.description}"></p>
    <p>------------------------------------------------------------------------------------------</p>

  </tr>

  <a href="./clubs/edit"><p>edit</p></a>

</div>
<div class="right-sidebar">
  right-sidebar
</div>

<footer class="footer">

</footer>
</body>
</html>