<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/styles.css}" />
  <title>Events</title>
</head>

<body>
<header class="header light-blue text-yellow" style="text-align: center; ">
  <h1 th:text="${#strings.capitalize(sport)} + ' Clubs'">Events</h1>
  <div class="userInfo" th:if="${session.LoggedInUser != null}">
    <p>User: <span th:text="*{session.LoggedInUser.username}"></span></p>
    <form action="#" th:action="@{logout}" method="post">
      <input type="submit" value="Logout">
    </form>
  </div>
</header>

<div class="main">
  <div class="sidebar-left light-gray">
    <menu class="nav">
      <li class="nav-item nav-icon">
        <button class="nav-button"><a th:href="@{/home}">Home</a></button>
      </li>
      <li th:each="sport : ${sports}">
        <button class="nav-button">
          <a style="font-size: 1.1rem;" th:href="@{/home/{s}(s=${sport})}" th:text="${sport}"></a>
        </button>
      </li>
    </menu>
  </div>

  <div class="content-container-infoPage">
    <div th:if="${session.LoggedInUser != null}">
      <a th:hidden="${session.LoggedInUser.isAdmin} != true" href="./clubs/edit"><p>Edit clubs</p></a>
    </div>

    <tr th:each="club : ${clubs}">
      <h3 th:text="${club.clubName}"></h3>
      <a th:href="@{${club.clubUrl}}"><p th:text="${club.clubUrl}">    clubUrl   </p></a>
      <p th:text="${club.clubEmail}"></p>
      <p th:text="${club.clubLocation}"></p>
      <p class="club-description" th:text="${club.description}"></p>
      <p>------------------------------------------------------------------------------------------</p>

    </tr>
  </div>
</div>

<footer class="footer">

</footer>
</body>
</html>