<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles.css}" />
    <title>Title</title>
</head>

<body>
    <header class="header light-blue text-yellow" style="text-align: center; ">
        <div> </div>

        <h1>Íþróttasíðan</h1>

        <form th:hidden="${session.LoggedInUser != null}" action="#" th:action="@{login}" th:object="${user}"  method="post">
            <table><tr>
                <td>Username:</td><td><input type="text" th:field="*{username}" /></td>
            </tr><tr>
                <td>Password</td><td><input type="text" th:field="*{userPassword}" /></td>
            </tr></table>
            <input type="submit" value="Login" />
            <a th:href="@{signUp}">Sign Up</a>
        </form>

        <div class="userInfo" th:if="${session.LoggedInUser != null}">
            <p>User: <span th:text="*{session.LoggedInUser.username}"></span></p>
            <form action="#" th:action="@{logout}" method="post">
                <input type="submit" value="Logout">
            </form>
        </div>
    </header>

    <div class="main">
        <div class="sidebar-left light-gray">
            <menu class="nav">
                <li class="nav-item nav-icon">
                    <button class="nav-button">Home</a></button>
                </li>
                <li th:each="sport : ${sports}">
                    <button class="nav-button">
                        <a style="font-size: 1.1rem;" th:href="@{/home/{s}(s=${sport})}" th:text="${sport}"></a>
                    </button>
                </li>
            </menu>
        </div>

        <div class="content-container">
            <div class="forum-container light-gray">
                <div class="forum-title">
                    <h1>Top threads</h1>
                </div>
                <div class="thread-table">
                    <div class="thread-table-head gray">
                        <div class="post-icon"></div>
                        <div class="post-subject">Subject</div>
                        <div class="post-comments">Comments</div>
                        <div class="post-info">Information</div>
                    </div>

                    <div th:each="thread : ${threads}" class="thread-table-row">
                        <div class="post-icon"><i class="fa fa-cart-plus"></i></div>
                        <div class="post-subject">
                            <a th:href="@{/home/{s}/thread/{t}(s=${thread.getSport()}, t=${thread.getID()})}" th:text="${thread.getHeader()}"></a>
                        </div>
                        <div class="post-comments">
                            <a href="" th:text="${thread.getComments()?.size()} ?: '0'"></a>
                        </div>
                        <div class="post-info">
                            <p style="margin: 0; padding: 0;" th:text="${thread.getDate()}"></p>
                            <p style="margin: 0; padding: 0;">Posted by: <span th:text="${thread.getUser()}"></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sidebar-right light-gray">
            <div class="events">
                <div class="events-title">
                    <h1>Upcoming Events</h1>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer light-blue text-yellow">

    </footer>
</body>
</html>