<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles.css}" />
    <link rel="stylesheet" th:href="@{/color.css}" />
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <link rel="stylesheet" href="../static/color.css">
    <title>Title</title>
  </head>
<body>

  <header class="header light-blue text-yellow" style="text-align: center; ">
    <h1>Íþróttasíðan</h1>
  </header>

  <div class="main">

    <div class="sidebar-left light-gray">
      <menu class="nav">
        <li class="nav-item nav-icon">
          <button class="nav-button">Home</button>
        </li>
        <li>
          <button class="nav-button" onclick="accordion()">Sports  <i class="fa fa-caret-down"></i></button>
            <menu id="sports-accordion" class="hide nav white">
              <li><button class="nav-button">Sport1</button></li>
              <li><button class="nav-button">Sport2</button></li>
              <li><button class="nav-button">Sport3</button></li>
              <li><button class="nav-button">Sport4</button></li>
            </menu>
        </li>
        <li ><button class="nav-button">SOMETHING</button></li>
        <li ><button class="nav-button">SOMETHING</button></li>
        <li ><button class="nav-button">SOMETHING</button></li>
        <li ><button class="nav-button">SOMETHING</button></li>
      </menu>
    </div>

    <div class="content-container">

      <menu class="nav sport-subpage-container light-gray">
        <li><button class="nav-button">Clubs</button></li>
        <li><button class="nav-button">Events</button></li>
        <li><button class="nav-button">Top players</button></li>
        <li><button class="nav-button">Beginner tips</button></li>
      </menu>

      <div class="forum-container light-gray">
        <div class="forum-title">
          <h1>Top threads</h1>
        </div>
        <div class="thread-table">
          <div class="thread-table-head gray">
            <div class="post-icon"></div>
            <div class="post-subject">Subject</div>
            <div class="post-comments">Comments</div>
            <div class="post-info">Information</div>
          </div>

          <div class="thread-table-row">
            <div class="post-icon"><i class="fa fa-cart-plus"></i></div>
            <div class="post-subject">
              <a href="">This is a random thread asdasdasdasdasdadasd</a>
            </div>
            <div class="post-comments">
              16 comments
            </div>
            <div class="post-info">
              September 8 2022 <br> Posted by: Username
            </div>
          </div>

        </div>
      </div>

      <menu class="nav">
        <button class="nav-button"><a th:href="@{/createthread}">Create thread</a></button>
      </menu>
    </div>


    <div class="sidebar-right light-gray">
      <div class="events">
        <div class="events-title">
          <h1>Events</h1>
        </div>
      </div>
    </div>
  </div>

  <script src="../static/home.js"></script>

  <footer class="footer">

  </footer>
</body>
</html>