<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Events</title>
</head>

<body>
<header class="header" style="text-align: center; ">
  <h1>Íþróttasíðan</h1>
</header>

<div class="left-sidebar">
  left-sidebar
</div>
<div class="main">

  <h1 th:text="${thread.user}"></h1>
  <h2 th:text="${thread.header}"></h2>
  <p th:text="${thread.body}"></p>


      <tr th:each="comment : ${thread.comments}">
        <p th:text="${comment.comment}"></p>
      </tr>




</div>
<div class="right-sidebar">
  right-sidebar
</div>

<footer class="footer">

</footer>
</body>
</html>